<p style="color: green"><%= notice %></p>

<table id="friends" class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th>Detail</th>
    </tr>
  </thead>
  <tbody>  
    <% @friends.each do |friend| %>
      <%= render friend %>
    <% end %>
  </tbody>
</table>

<%= link_to "New friend", new_friend_path, class:"btn btn-secondary" %>
