<%# <h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p> %>
<div class="main top-main">
  <div class="top-message">
    <h2>UPDATE VIEW</h2>
    <p>Change contence in top.html file</p>
  </div>
</div>